[Unit]
Description=fireurl deamon

[Service]
ExecStart=/opt/fireurl/bin/fireurld
Environment=FIREURL_BROWSER=firefox

[Install]
WantedBy=default.target
